{% macro search_card(resume, tag_colors, pdf) -%}
<div class="search-result" onclick="location.href='/resume?id={{ resume[0] }}';" style="cursor: pointer;">
    <div class="search-sec-left">
        <div class="search-header">
            <div class="search-profile-img">
                <img class="profile-picture" src="{{ resume[9] }}">
            </div>
            <div class="search-title">
                <b>{{resume[2]}} </b><br>
                <i>{{resume[7]}} {{resume[8]}}</i>
            </div>
        </div>
        <div class="search-tags">
            <span class="tag" style="background-color: {{ tag_colors[0][resume[4]] }}"> {{ resume[4] }}</span>
            <span class="tag" style="background-color: {{ tag_colors[1][resume[5]] }}"> {{ resume[5] }}</span>
            <span class="tag" style="background-color: {{ tag_colors[2][resume[6]] }}"> {{ resume[6] }}</span>
        </div>
    </div>
    <div class="search-sec-right">
        <div class="search-resume">
            {{ pdf }}
        </div>
    </div>
</div>
{% endmacro %}